body {
	font-family: 'Oxygen', sans-serif;
	display: flex;
	justify-content: space-between;
	background-color: #1f1f1f;
	margin: 2em;
}

.hracova-strana {
	display: flex;
	flex-direction: column;
}

.hracova-tlacitka {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1.2em;
}

.hracova-tlacitka button {
	font-family: 'Oxygen', sans-serif;
	font-weight: medium;
	background-color: black;
	color: #806600;
	border: none;
	padding: 1em;
	border-radius: 6px;
	transition: 160ms;
	cursor: pointer;
}

.hracova-tlacitka button:hover {
	scale: 107%;
}

.hracova-tlacitka button:active {
	color: #ba9501;
}

.hracovy-kostky {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	row-gap: 0.8em;
	column-gap: 0.8em;
	justify-content: space-evenly;
}

.kostka-img {
	pointer-events: none;
}

.kostka-img,
.selectableDice {
	-webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.hracovo-info {
	display: flex;
	justify-content: space-between;
}

.hracovo-info p {
	font-weight: medium;
	background-color: black;
	color: #806600;
	border: none;
	padding: 1em;
	border-radius: 6px;
	width: 26%;
}

.selectableDice {
	transition: 160ms;
}

.selectableDice:hover {
	cursor: pointer;
	scale: 104%;
}

.selectableDice:active {
	scale: 100%;
}

.selectedDice {
	outline: solid 1px #806600;
	border-radius: 30px;
	margin: 0px;
	padding: 0px;
}

.kostka1,
.kostka2,
.kostka3,
.kostka4,
.kostka5,
.kostka6 {
	display: inline-block;
	margin: 0 auto;
}